@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.n404 {
    color: grey;
    height: 80vh;
    display: grid;
    place-items: center;
    font-size: 8rem;
}


.card {
    padding: 1rem;
    background-color: #f5f5f5;
}
.card .card-header {
    padding: 1rem;
    border:1px solid grey;
}

.nav-items a {
    text-decoration:none;
    margin: 10px; 
    font-size: 1.2rem;
    color:#4d4d4d;
    text-transform:uppercase;
}

.nav-items a:hover{
    color:#000;
}

/* Pagination */

.pagination {
    list-style-type: none;
}

.pagination li  {
    display: inline;
}

.pagination li a {
    padding: 5px 10px;
    color: white; 
    background-color: #2b2b2b; 
    margin: 0 5px;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    transition: background-color .5s ease;
    text-decoration: none;
}

.pagination .active {
    color: #2b2b2b; 
    background-color: #fff; 
}

.pagination li a:hover {
    background-color: #575757; 

}

nav.paginate {
    text-align: center;
    padding-bottom: 5rem;
}



@media(max-width:700px) {
    .container {
        width: 98%;
    }


    .nav-items a{
            font-size: 1rem;
    }
}